body {
  overflow-y: scroll;
  &.lock {
    overflow: hidden;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #fff;
  overflow: hidden;
}
[class*="__container"] {
  display: flex;
  max-width: 1370px + $mainOffset * 2;
  margin: 0 auto;
  padding: 0 $mainOffset;
  @media (max-width: 425.98px) {
    padding: 0 ($mainOffset - 10);
  }
}
[class*="page__"] {
  flex: 1 1 auto;
  padding-bottom: 40px;
}
.row {display: flex;}
.title {
  text-align: center;
  @include adaptiveValue("font-size", 36, 21, 1);
  font-weight: 700;
  @include adaptiveValue("margin-bottom", 20, 12, 1);
}

.animation-gradient {
  background: linear-gradient(to left top, #ee706c 0%, #efa0ff 50%, #77cdec 100%);
  background-size: 350% 350%;
  animation: animation-gradient 15000ms infinite forwards;
}
// ===== Animations =============================================================================================================================================================================
@keyframes animation-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}